h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

#map {
    width: 100%;
    height: 400px;
}

.greenText {
	font-size: 1.5em;
}

#btnNext {
	position: absolute;
	top: 45%;
	right: 10px;
	z-index: 998;
}

#btnPrev {
	position: absolute;
	top: 45%;
	left: 10px;
	z-index: 998;
}

#mobileMenuIcon {
	position: absolute;
	top: 20px;
	left: 20px;
}

.mobileMenu {
	z-index: 999;
}

#slideris {
	position: relative;
}

.breadcrumb:before {
    color: #212121;
}

.newsPadding {
	padding: 30px 0;
}

.tabs .tab a{
    color: #4db6ac;
}

.tabs .tab a:hover {
	color: #009688;
}

.tabs .tab a:focus {
	color: #009688;
}

.tabs .tab a.active {
	color: #009688;
}

.tabs .tab {
	background-color: #ffffff;
}

.tabs .tab a:focus.active {
	color: #009688;
	background-color: #e0f2f1;
}

.tabs .indicator {
    background-color: #009688;
}

.slider .indicators .indicator-item.active {
  background-color: #26a69a;
}
.cardsTop {
	margin-top: 15px
}
.imgTop{
	margin-top: 6px
}
.img-left {
	float: left;	
}
.parallax-container {
    height: 200px;
}

.homepageNews {
	margin-top: 20px;
	margin-bottom: 15px;
}